#dropbox stuff
*.dropbox*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
data/
notebooks/.ipybn_checkpoints/
notebooks/.ipybn_checkpoints/
notebooks/.ipynb_checkpoints/
notebooks/*.npy
MatchingNetworks/saved_models/checkpoint
.babydriver.sh.swp
MatchingNetworks/60trainclass_one_shot_learning_embedding_1_10.csv
MatchingNetworks/cifar-100-balanced.npy
MatchingNetworks/errfile
MatchingNetworks/outfile
MatchingNetworks/saved_models/60trainclass_one_shot_learning_embedding_1_10_0.ckpt.data-00000-of-00001
MatchingNetworks/saved_models/60trainclass_one_shot_learning_embedding_1_10_0.ckpt.index
MatchingNetworks/saved_models/60trainclass_one_shot_learning_embedding_1_10_0.ckpt.meta
MatchingNetworks/saved_models/60trainclass_one_shot_learning_embedding_1_10_1.ckpt.data-00000-of-00001
MatchingNetworks/saved_models/60trainclass_one_shot_learning_embedding_1_10_1.ckpt.index
MatchingNetworks/saved_models/60trainclass_one_shot_learning_embedding_1_10_1.ckpt.meta
MatchingNetworks/saved_models/60trainclass_one_shot_learning_embedding_1_10_2.ckpt.data-00000-of-00001
MatchingNetworks/saved_models/60trainclass_one_shot_learning_embedding_1_10_2.ckpt.index
MatchingNetworks/saved_models/60trainclass_one_shot_learning_embedding_1_10_2.ckpt.meta
MatchingNetworks/saved_models/test_100epoch_one_shot_learning_embedding_1_10_10.ckpt.data-00000-of-00001
MatchingNetworks/saved_models/test_100epoch_one_shot_learning_embedding_1_10_10.ckpt.index
MatchingNetworks/saved_models/test_100epoch_one_shot_learning_embedding_1_10_10.ckpt.meta
MatchingNetworks/saved_models/test_100epoch_one_shot_learning_embedding_1_10_11.ckpt.data-00000-of-00001
MatchingNetworks/saved_models/test_100epoch_one_shot_learning_embedding_1_10_11.ckpt.index
MatchingNetworks/saved_models/test_100epoch_one_shot_learning_embedding_1_10_11.ckpt.meta
MatchingNetworks/saved_models/test_100epoch_one_shot_learning_embedding_1_10_12.ckpt.data-00000-of-00001
MatchingNetworks/saved_models/test_100epoch_one_shot_learning_embedding_1_10_12.ckpt.index
MatchingNetworks/saved_models/test_100epoch_one_shot_learning_embedding_1_10_12.ckpt.meta
MatchingNetworks/saved_models/test_100epoch_one_shot_learning_embedding_1_10_8.ckpt.data-00000-of-00001
MatchingNetworks/saved_models/test_100epoch_one_shot_learning_embedding_1_10_8.ckpt.index
MatchingNetworks/saved_models/test_100epoch_one_shot_learning_embedding_1_10_8.ckpt.meta
MatchingNetworks/saved_models/test_100epoch_one_shot_learning_embedding_1_10_9.ckpt.data-00000-of-00001
MatchingNetworks/saved_models/test_100epoch_one_shot_learning_embedding_1_10_9.ckpt.index
MatchingNetworks/saved_models/test_100epoch_one_shot_learning_embedding_1_10_9.ckpt.meta
MatchingNetworks/saved_models/test_one_shot_learning_embedding_1_10_0.ckpt.data-00000-of-00001
MatchingNetworks/saved_models/test_one_shot_learning_embedding_1_10_0.ckpt.index
MatchingNetworks/saved_models/test_one_shot_learning_embedding_1_10_0.ckpt.meta
MatchingNetworks/test_100epoch_one_shot_learning_embedding_1_10.csv
MatchingNetworks/test_one_shot_learning_embedding_1_10.csv
cifar-100-1shot.npy
classification_logs/experiment_20samplesDR5_batch_size_128_bn_True_mp_False/
classification_logs/experiment_20samplesDR5_batch_size_32_bn_True_mp_False/
classification_logs/experiment_3IL_3ST_5DR_batch_size_128_bn_True_mp_False/
classification_logs/experiment_3IL_4ST_5DR_batch_size_128_bn_True_mp_False/
classification_logs/experiment_4IL_3ST_5DR_batch_size_128_bn_True_mp_False/
classification_logs/experiment_4IL_4ST_5DR_batch_size_128_bn_True_mp_False/
classification_logs/experiment_50samplesDR5_batch_size_32_bn_True_mp_False/
classification_logs/experiment_5samplesDR5_batch_size_128_bn_True_mp_False/
classification_logs/experiment_5samplesDR5_batch_size_32_bn_True_mp_False/
classification_logs/experiment_baseline3stage5dropoutMP_batch_size_128_bn_True_mp_False/saved_models/
